<div class="container">
  <nav>
      <div> •  Home </div>
      <div> •  Taco Menu </div>
      <div> •  Draft List </div>
      <div> •  Hours </div>
      <div> •  Directions </div>
      <div> •  Contact </div>
  </nav>
  <section>
    <span>超文本标记语言（英语：HyperText Markup Language，简称：HTML）是一种用于创建网页的标准标记语言。HTML是一种基础技术，常与CSS、JavaScript一起被众多网站用于设计令人赏心悦目的网页、网页应用程序以及移动应用程序的用户界面[3]。网页浏览器可以读取HTML文件，并将其渲染成可视化网页。HTML描述了一个网站的结构语义随着线索的呈现，使之成为一种标记语言而非编程语言。</span>
  </section>

  <section style="background-color: lightgrey">
    <span>HTML元素是构建网站的基石。HTML允许嵌入图像与对象，并且可以用于创建交互式表单，它被用来结构化信息——例如标题、段落和列表等等，也可用来在一定程度上描述文档的外观和语义。HTML的语言形式为尖括号包围的HTML元素，浏览器使用HTML标签和脚本来诠释网页内容，但不会将它们显示在页面上。</span>
  </section>

  <section>
    <span>HTML可以嵌入如JavaScript的脚本语言，它们会影响HTML网页的行为。网页浏览器也可以引用层叠样式表（CSS）来定义文本和其它元素的外观与布局。维护HTML和CSS标准的组织万维网联盟（W3C）鼓励人们使用CSS替代一些用于表现的HTML元素[4]。</span>
  </section>
</div>

<footer>
  <div style="width: 200px; margin: 0 auto"> 九章算法 </div>
</footer>
